*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;


}
.images h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    padding-bottom: 15px;
}
.images .options{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.images .options h3{
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
#h1{
    border-bottom: 2px solid blueviolet;
}
#h2{
    border-bottom: 2px solid transparent;
}
#h3{
    border-bottom: 2px solid transparent;
}
.latest{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}
.latest img{
    height: 200px;
    width: 300px;
    margin: 5px;
    border: 1px solid black;
}
.popular{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}
.popular img{
    height: 200px;
    width: 300px;
    margin: 5px;
    border: 1px solid black;
}
.all{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}
.all img{
    height: 200px;
    width: 300px;
    margin: 5px;
    border: 1px solid black;
}
.over_effect{
    position: fixed;
    display: none;
}
.over_effect .single_img{
    background-color: rgba(0, 0, 0, 0.616);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.over_effect .single_img img{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
    width: 500px;
    border-radius: 5px;
}
.over_effect span{
    margin-top: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    cursor: pointer;
}